name: windows
on:
  push:
  pull_request:
    branches: [master]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - name: build
        run: zig build
